body{
    font-family: 'Kaushan Script', cursive;
    background-color:rgb(35, 62, 70);
    color: white;
}

.intro1{
    width:80vw;
    margin:0px auto;   
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    
}


.specials{
    margin-top: 20px;
    text-align: center;
    
}

.specials h2{
    position: relative;
    width:max-content;
    padding: 0px 10px;
    margin: 0px auto;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
}